@keyframes glow {
  from{
      text-shadow: 0 0 10px white, 0 0 20px white , 0 0 30px green,
      0 0 40px green,0 0 50px green,0 0 60px green;
  }
  to{
      text-shadow: 0 0 plum,0 0 40px plum,0 0 50px plum,
      0 0 60px plum;
  }
  }
  

.headerr{
  font-size: 30px;
  background-color: #e3c266;
  color: aliceblue;
  text-align: left;
  animation: glow 1s ease-in-out infinite alternate;
  padding: 1px;
}
.login
{
  margin-left: 26cm;
  background-color: #4d87eb;
  color: white;
}
.card{
  box-shadow: 0 4px 8px red;
  transition: 3s;
  width: 33%;
  border-radius: 18px;
  padding-right: 10px;
}
.card:hover{
  box-shadow: 0 4px 8px green;
}
.container{
  padding: 30px 90px;
}
.size
{
  width:100%;
  height: 9.5cm;
  text-align: center;
  display: flex;
}
h2{
  text-align: center;
}
h3{
  color: white;
}

.h1style{
  font-size: 55px;
  padding-bottom: 10px;
}


